<div class="aui-nav-heading">
    <strong><%= product.title %> Modules</strong>
</div>
<ul class="aui-nav">
    <% for (var key in schemas[product.key].properties.modules.properties) { %>
        <% var module = schemas[product.key].properties.modules.properties[key]; %>
        <% var selected = key === current.source && current.path[1] === [product.key] ? "class=aui-nav-selected" : ""; %>
        <li <%= selected %>>
            <%
                var title = "";
                if(typeof module.title !== 'undefined') {
                    title = module.title;
                } else if(typeof module.items.title !== 'undefined') {
                    title = module.items.title;
                } else {
                    title = key;
                }
            %>
            <a href="/modules/<%= product.key %>/<%= key %>.html"><%= title %></a>
        </li>
    <% } %>
</ul>