<% if (modules.index) { %>
    <div class="aui-nav-heading">
        <a href="<%= relDocRoot %><%= modules.index.selfLink %>.html"><%= modules.index.name %></a>
    </div>
<% } %>
<ul class="aui-nav">
    <% for (var key in modules) { %>
        <% if (key === "index") continue; %>
        <% var module = modules[key]; %>
        <% var selected = module.selfLink === current.path.join("/") ? "class=aui-nav-selected" : ""; %>
        <li <%= selected %>>
            <a href="<%= relDocRoot %><%= module.selfLink %>.html"><%= module.name %></a>
        </li>
    <% } %>
</ul>
