<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <%- partial('_sidebar_list.ejs', { category: 'guides' }) %>

            <div class="aui-nav-heading">
                <strong>Core Concepts</strong>
            </div>
            <%- partial('_sidebar_list.ejs', { category: 'concepts' }) %>

            <div class="aui-nav-heading">
                <a href="<%= relDocRoot %>modules/">AddOn Descriptor</a>
            </div>

            <%- partial('_module_list.ejs', { title: "JIRA Modules", modules: entities.jira, relDocRoot: relDocRoot }) %>
            <%- partial('_module_list.ejs', { title: "Confluence Modules", modules: entities.confluence, relDocRoot: relDocRoot }) %>

            <div class="aui-nav-heading">
                <strong>Product APIs</strong>
            </div>

            <%- partial('_sidebar_list.ejs', { category: 'rest-apis' }) %>
            <%- partial('_sidebar_list.ejs', { category: 'resources' }) %>
        </div>
    </nav>
</div>
