<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <ul class="aui-nav">
                <% for (var page in public._data.guides) { %>
                <% var selected = page.split('.')[0] === current.source ? "class=aui-nav-selected" : ""; %>
                <li <%= selected %>>
                    <a href="<%= baseUrl %>/guides/<%= page %>"><%= public._data.guides[page].title %></a>
                </li>
                <% } %>
            </ul>

            <div class="aui-nav-heading">
                <strong>Core Concepts</strong>
            </div>
            <ul class="aui-nav">
            <% for(var concept in public._data.concepts) { %>
            <% var selected = concept.split('.')[0] === current.source ? "class=aui-nav-selected" : ""; %>
            <li <%= selected %>>
                <a href="<%= baseUrl %>/concepts/<%= concept %>"><%= public._data.concepts[concept].title %></a>
            </li>
            <% } %>
            </ul>

            <%- partial('_module_list.ejs', { title: "Root Modules", modules: entities.root }) %>
            <%- partial('_module_list.ejs', { title: "JIRA Modules", modules: entities.jira }) %>
            <%- partial('_module_list.ejs', { title: "Confluence Modules", modules: entities.confluence }) %>

            <div class="aui-nav-heading">
                <strong>REST API Browser</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="https://jira.atlassian.com/plugins/servlet/restbrowser#/">JIRA</a>
                </li>
                <li>
                    <a href="https://confluence.atlassian.com/plugins/servlet/restbrowser#/">Confluence</a>
                </li>
            </ul>

            <div class="aui-nav-heading">
                <strong>Resources</strong>
            </div>
            <ul class="aui-nav">
                <% for(var resource in public._data.resources) { %>
                <% var selected = resource.split('.')[0] === current.source ? "class=aui-nav-selected" : ""; %>
                <li <%= selected %>>
                    <a href="<%= baseUrl %>/resources/<%= resource %>"><%= public._data.resources[resource].title %></a>
                </li>
                <% } %>
                <li>
                    <a href="https://groups.google.com/forum/?fromgroups=#%21forum/atlassian-connect-dev">Mailing List</a>
                </li>
                <li>
                    <a href="https://answers.atlassian.com/tags/atlassian-connect">Atlassian Answers</a>
                </li>
                <li>
                    <a href="https://ecosystem.atlassian.net/browse/AC">JIRA Project</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
