<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <ul class="aui-nav">
                <% for (var page in public.guides._data) { %>
                <% var selected = page.split('.')[0] === current.source ? "class=aui-nav-selected" : ""; %>
                <li <%= selected %>>
                    <a href="/guides/<%= page %>"><%= public.guides._data[page].title %></a>
                </li>
                <% } %>
            </ul>

<!--
            <div class="aui-nav-heading">
                <strong>Add-on Descriptor</strong>
            </div>
            <ul class="aui-nav">
                <% for (var page in public.capabilities._data) { %>
                <% var selected = page.split('.')[0] === current.source ? "class=aui-nav-selected" : ""; %>
                <li <%= selected %>>
                    <a href="/capabilities/<%= page %>"><%= public.capabilities._data[page].title %></a>
                </li>
                <% } %>
            </ul>
 -->
            <div class="aui-nav-heading">
                <strong>JIRA Modules</strong>
            </div>
            <ul class="aui-nav">
                <% for (var key in schemas.jira.properties.capabilities.properties) { %>
                    <% var module = schemas.jira.properties.capabilities.properties[key]; %>
                    <% var selected = key === current.source && current.path[1] === 'jira' ? "class=aui-nav-selected" : ""; %>
                    <li <%= selected %>>
                        <%
                            var title = "";
                            if(typeof module.title !== 'undefined') {
                                title = module.title;
                            } else if(typeof module.items.title !== 'undefined') {
                                title = module.items.title;
                            } else {
                                title = key;
                            }
                        %>
                        <a href="/capabilities/jira/<%= key %>.html"><%= title %></a>
                    </li>
                <% } %>
            </ul>

            <div class="aui-nav-heading">
                <strong>Confluence Modules</strong>
            </div>
            <ul class="aui-nav">
                <% for (var key in schemas.confluence.properties.capabilities.properties) { %>
                    <% var module = schemas.confluence.properties.capabilities.properties[key]; %>
                    <% var selected = key === current.source && current.path[1] === 'confluence' ? "class=aui-nav-selected" : ""; %>
                    <li <%= selected %>>
                        <%
                            var title = "";
                            if(typeof module.title !== 'undefined') {
                                title = module.title;
                            } else if(typeof module.items.title !== 'undefined') {
                                title = module.items.title;
                            } else {
                                title = key;
                            }
                        %>
                        <a href="/capabilities/confluence/<%= key %>.html"><%= title %></a>
                    </li>

                <% } %>
            </ul>

            <div class="aui-nav-heading">
                <strong>REST API Browser</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="#">JIRA</a>
                </li>
                <li>
                    <a href="#">Confluence</a>
                </li>
            </ul>

            <div class="aui-nav-heading">
                <strong>Help and Support</strong>
            </div>
            <ul class="aui-nav">
                <li>
                    <a href="/faqs.html">FAQs</a>
                </li>
                <li>
                    <a href="/contact-us.html">Contact Us</a>
                </li>
                <li>
                    <a href="https://answers.atlassian.com/tags/atlassian-connect">Atlassian Answers</a>
                </li>
            </ul>

        </div>
    </nav>
</div>